<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "vendor/modernizr" %>

    
    <h1>Header Project 1</h1>
    <%= link_to "New", root_path %>
    <%= link_to "Visitors", visitors_path %>